backend/workflows/02_gemini_topics.json
{
  "id": "f2000002-0000-0000-0000-000000000000",
  "name": "02. Gemini 키워드 추출",
  "nodes": [
    {
      "parameters": {},
      "id": "b0000001-0000-0000-0000-000000000000",
      "name": "워크플로우 트리거",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const allTitles = $input.first().json.all_titles;\n\nconst prompt = [\n  '다음은 오늘 뉴스 헤드라인 제목 목록입니다.',\n  '현재 가장 중요하고 관심을 가질 만한 검색 키워드 10개를 선정해주세요.',\n  'IT에 관심이 많고 세계, 사회 순서로 관심이 있습니다.',\n  '유사하거나 중복 의미의 키워드는 최소화하세요.',\n  '서두나 부연 설명 없이 키워드 10개만 쉼표(,)로 구분해 한 줄로만 답변하세요.',\n  '',\n  '[답변 예시]',\n  'A, B, C, D, E, F, G, H, I, J',\n  '',\n  '[제목 목록]',\n  allTitles\n].join('\\n');\n\nreturn [{\n  json: {\n    contents: [{\n      parts: [{ text: prompt }]\n    }]\n  }\n}];"
      },
      "id": "b0000002-0000-0000-0000-000000000000",
      "name": "프롬프트 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "b0000003-0000-0000-0000-000000000000",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.candidates[0].content.parts[0].text;\n\nconst keywords = text\n  .split(',')\n  .map(k => k.replace(/[*#\\n]/g, '').trim())\n  .filter(k => k.length > 0 && k.length <= 20);\n\nreturn keywords.map(keyword => ({ json: { keyword } }));"
      },
      "id": "b0000004-0000-0000-0000-000000000000",
      "name": "키워드 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    }
  ],
  "connections": {
    "워크플로우 트리거": { "main": [[{ "node": "프롬프트 생성", "type": "main", "index": 0 }]] },
    "프롬프트 생성":     { "main": [[{ "node": "Gemini API",   "type": "main", "index": 0 }]] },
    "Gemini API":       { "main": [[{ "node": "키워드 파싱",   "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
