backend/workflows/news_pipeline.json
{
  "id": "f0000001-0000-0000-0000-000000000000",
  "name": "뉴스 파이프라인",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 7 * * *" },
            { "field": "cronExpression", "expression": "0 18 * * *" }
          ]
        }
      },
      "id": "n00000001-0000-0000-0000-000000000000",
      "name": "스케줄 트리거",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 500]
    },

    { "parameters": { "url": "https://www.yonhapnewstv.co.kr/browse/feed/" },
      "id": "n00000002-0000-0000-0000-000000000000", "name": "연합뉴스TV",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [200, 0] },
    { "parameters": { "url": "https://www.hani.co.kr/rss/" },
      "id": "n00000003-0000-0000-0000-000000000000", "name": "한겨레",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [200, 200] },
    { "parameters": { "url": "https://www.khan.co.kr/rss/rssdata/total_news.xml" },
      "id": "n00000004-0000-0000-0000-000000000000", "name": "경향신문",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [200, 400] },
    { "parameters": { "url": "https://news-ex.jtbc.co.kr/v1/get/rss/issue" },
      "id": "n00000005-0000-0000-0000-000000000000", "name": "JTBC",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [200, 600] },
    { "parameters": { "url": "https://www.hankyung.com/feed/all-news" },
      "id": "n00000006-0000-0000-0000-000000000000", "name": "한국경제 전체",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [200, 800] },
    { "parameters": { "url": "https://www.sedaily.com/rss/newsall" },
      "id": "n00000007-0000-0000-0000-000000000000", "name": "서울경제 전체",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1, "position": [200, 1000] },

    { "parameters": { "mode": "append" }, "id": "n00000008-0000-0000-0000-000000000000",
      "name": "Merge 1", "type": "n8n-nodes-base.merge", "typeVersion": 2, "position": [420, 100] },
    { "parameters": { "mode": "append" }, "id": "n00000009-0000-0000-0000-000000000000",
      "name": "Merge 2", "type": "n8n-nodes-base.merge", "typeVersion": 2, "position": [620, 300] },
    { "parameters": { "mode": "append" }, "id": "n0000000a-0000-0000-0000-000000000000",
      "name": "Merge 3", "type": "n8n-nodes-base.merge", "typeVersion": 2, "position": [820, 500] },
    { "parameters": { "mode": "append" }, "id": "n0000000b-0000-0000-0000-000000000000",
      "name": "Merge 4", "type": "n8n-nodes-base.merge", "typeVersion": 2, "position": [1020, 700] },
    { "parameters": { "mode": "append" }, "id": "n0000000c-0000-0000-0000-000000000000",
      "name": "Merge 5", "type": "n8n-nodes-base.merge", "typeVersion": 2, "position": [1220, 900] },

    {
      "parameters": {
        "jsCode": "const titles = $input.all()\n  .map(item => item.json.title)\n  .filter(Boolean);\n\nreturn [\n  {\n    json: {\n      all_titles: titles.join('\\n'),\n      count: titles.length\n    }\n  }\n];"
      },
      "id": "n0000000d-0000-0000-0000-000000000000",
      "name": "제목 취합",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1440, 900]
    },
    {
      "parameters": {
        "jsCode": "const allTitles = $input.first().json.all_titles;\n\nconst prompt = [\n  '다음은 오늘 뉴스 헤드라인 제목 목록입니다.',\n  '현재 가장 중요하고 관심을 가질 만한 검색 키워드 10개를 선정해주세요.',\n  'IT에 관심이 많고 세계, 사회 순서로 관심이 있습니다.',\n  '유사하거나 중복 의미의 키워드는 최소화하세요.',\n  '서두나 부연 설명 없이 키워드 10개만 쉼표(,)로 구분해 한 줄로만 답변하세요.',\n  '',\n  '[답변 예시]',\n  'A, B, C, D, E, F, G, H, I, J',\n  '',\n  '[제목 목록]',\n  allTitles\n].join('\\n');\n\nreturn [{\n  json: {\n    contents: [{\n      parts: [{ text: prompt }]\n    }]\n  }\n}];"
      },
      "id": "n0000000e-0000-0000-0000-000000000000",
      "name": "프롬프트 생성",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1660, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "n0000000f-0000-0000-0000-000000000000",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1880, 900]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.candidates[0].content.parts[0].text;\n\nconst keywords = text\n  .split(',')\n  .map(k => k.replace(/[*#\\n]/g, '').trim())\n  .filter(k => k.length > 0 && k.length <= 20);\n\nconst date = new Date().toLocaleDateString('sv-SE', { timeZone: 'Asia/Seoul' });\nconst hour = parseInt(\n  new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul', hour: 'numeric', hour12: false })\n);\nconst period = hour < 12 ? '오전' : '오후';\n\nreturn [{ json: { keywords, date, period } }];"
      },
      "id": "n00000010-0000-0000-0000-000000000000",
      "name": "준비",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2100, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/dates?on_conflict=date,period' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { date: $json.date, period: $json.period } }}",
        "options": {}
      },
      "id": "n00000011-0000-0000-0000-000000000000",
      "name": "dates UPSERT",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2320, 900]
    },
    {
      "parameters": {
        "jsCode": "const datesRow = $input.first().json;\nconst date_id = (Array.isArray(datesRow) ? datesRow[0] : datesRow).id;\n\nconst { keywords, period } = $node['준비'].json;\n\nreturn keywords.map(keyword => ({ json: { date_id, keyword, period } }));"
      },
      "id": "n00000012-0000-0000-0000-000000000000",
      "name": "topics 생성 준비",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2540, 900]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/topics' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { date_id: $json.date_id, topic_text: $json.keyword } }}",
        "options": {}
      },
      "id": "n00000013-0000-0000-0000-000000000000",
      "name": "Supabase topics 저장",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [2760, 900]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const row = Array.isArray(item.json) ? item.json[0] : item.json;\n  return {\n    json: {\n      topic_id: row.id,\n      keyword:  row.topic_text,\n      period:   $node['준비'].json.period\n    }\n  };\n});"
      },
      "id": "n00000014-0000-0000-0000-000000000000",
      "name": "응답 정리",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2980, 900]
    },

    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "n00000015-0000-0000-0000-000000000000",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [3200, 900]
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/news.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query",   "value": "={{ $json.keyword }}" },
            { "name": "display", "value": "5" },
            { "name": "sort",    "value": "sim" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Naver-Client-Id",     "value": "={{ $env.NAVER_CLIENT_ID }}" },
            { "name": "X-Naver-Client-Secret", "value": "={{ $env.NAVER_CLIENT_SECRET }}" }
          ]
        },
        "options": {}
      },
      "id": "n00000016-0000-0000-0000-000000000000",
      "name": "Naver 뉴스 검색",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3420, 1100]
    },
    {
      "parameters": {
        "jsCode": "const topic_id = $('Loop Over Items').item.json.topic_id;\nconst keyword  = $('Loop Over Items').item.json.keyword;\nconst allItems = $input.first().json.items || [];\n\nconst decodeEntities = s => s\n  .replace(/&quot;/g, '\"')\n  .replace(/&amp;/g, '&')\n  .replace(/&lt;/g, '<')\n  .replace(/&gt;/g, '>')\n  .replace(/&#39;/g, \"'\")\n  .replace(/&apos;/g, \"'\");\n\nconst naverItems = allItems.filter(i => i.link?.includes('n.news.naver.com'));\n\nreturn naverItems.map(item => ({\n  json: {\n    topic_id,\n    keyword,\n    title:   decodeEntities(item.title.replace(/<[^>]+>/g, '').trim()),\n    url:     item.link,\n    pubDate: item.pubDate\n  }\n}));"
      },
      "id": "n00000017-0000-0000-0000-000000000000",
      "name": "링크 추출",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [3640, 1100]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "n00000018-0000-0000-0000-000000000000",
      "name": "기사 스크레이핑",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [3860, 1100]
    },
    {
      "parameters": {
        "jsCode": "const originals = $('링크 추출').all();\n\nreturn $input.all().map((item, i) => {\n  const orig = originals[i]?.json || {};\n  const html = item.json.data || '';\n\n  // article#dic_area 본문 추출\n  const areaMatch = html.match(/id=[\"']dic_area[\"'][^>]*>([\\s\\S]*?)<\\/article>/);\n  let content = '';\n  if (areaMatch) {\n    content = areaMatch[1]\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .slice(0, 2000);\n  }\n\n  const published_date = (() => {\n    try { return new Date(orig.pubDate).toLocaleDateString('sv-SE', { timeZone: 'Asia/Seoul' }); }\n    catch(e) { return new Date().toLocaleDateString('sv-SE', { timeZone: 'Asia/Seoul' }); }\n  })();\n\n  return {\n    json: {\n      topic_id:       orig.topic_id,\n      keyword:        orig.keyword,\n      title:          orig.title,\n      url:            orig.url,\n      publisher:      orig.publisher,\n      published_date,\n      content\n    }\n  };\n});"
      },
      "id": "n00000019-0000-0000-0000-000000000000",
      "name": "본문 추출",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4080, 1100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/articles?on_conflict=url' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { topic_id: $json.topic_id, title: $json.title, url: $json.url, published_date: $json.published_date } }}",
        "options": {}
      },
      "id": "n0000001b-0000-0000-0000-000000000000",
      "name": "articles UPSERT",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [4520, 1100]
    },
    {
      "parameters": {
        "jsCode": "const articles = $('본문 추출').all();\nconst topic_id = articles[0]?.json.topic_id;\nconst keyword  = $('Loop Over Items').item.json.keyword;\n\nconst articlesText = articles\n  .map((item, i) => `[기사 ${i + 1}]\\n${item.json.content}`)\n  .filter(t => t.trim().length > 15)\n  .join('\\n\\n');\n\nreturn [{ json: { topic_id, keyword, articles_text: articlesText } }];"
      },
      "id": "n0000001c-0000-0000-0000-000000000000",
      "name": "본문 취합",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4740, 1100]
    },
    {
      "parameters": {
        "jsCode": "const { keyword, articles_text, topic_id } = $input.first().json;\n\nconst prompt = [\n  '당신은 전문 뉴스 애널리스트입니다.',\n  `아래는 '${keyword}'와 관련된 기사 본문입니다.`,\n  '',\n  '[기사 묶음]',\n  articles_text,\n  '',\n  '[요청]',\n  '1. 모든 기사를 종합해 핵심 상황을 완결된 문단으로 요약해주세요.',\n  '2. 전문 용어를 골라 초등학생도 이해할 수 있도록 쉽게 설명해주세요.',\n  '',\n  '[답변 형식]',\n  '### 요약 ###',\n  '(요약 내용)',\n  '### 용어 설명 ###',\n  '- **용어1:** (설명)'\n].join('\\n');\n\nreturn [{\n  json: {\n    topic_id,\n    contents: [{ parts: [{ text: prompt }] }]\n  }\n}];"
      },
      "id": "n0000001d-0000-0000-0000-000000000000",
      "name": "요약 프롬프트 생성",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [4960, 1100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: $json.contents } }}",
        "options": {}
      },
      "id": "n0000001e-0000-0000-0000-000000000000",
      "name": "Gemini 요약 API",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5180, 1100]
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.candidates[0].content.parts[0].text;\nconst topic_id = $node['요약 프롬프트 생성'].json.topic_id;\n\nconst summaryMatch = text.match(/### 요약 ###\\n([\\s\\S]*?)(?=### 용어 설명 ###|$)/);\nconst termsMatch   = text.match(/### 용어 설명 ###\\n([\\s\\S]*)$/);\n\nconst summary_text     = summaryMatch ? summaryMatch[1].trim() : text.trim();\nconst term_explanation = termsMatch   ? termsMatch[1].trim()   : '';\n\nreturn [{ json: { topic_id, summary_text, term_explanation } }];"
      },
      "id": "n0000001f-0000-0000-0000-000000000000",
      "name": "요약 파싱",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [5400, 1100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + '/rest/v1/summaries?on_conflict=topic_id' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Prefer",        "value": "resolution=merge-duplicates,return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { topic_id: $json.topic_id, summary_text: $json.summary_text, term_explanation: $json.term_explanation } }}",
        "options": {}
      },
      "id": "n00000020-0000-0000-0000-000000000000",
      "name": "summaries UPSERT",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [5620, 1100]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "n00000021-0000-0000-0000-000000000000",
      "name": "5초 대기",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [5840, 1100],
      "webhookId": "w00000001-0000-0000-0000-000000000000"
    }
  ],
  "connections": {
    "스케줄 트리거": {
      "main": [[
        { "node": "연합뉴스TV",   "type": "main", "index": 0 },
        { "node": "한겨레",       "type": "main", "index": 0 },
        { "node": "경향신문",     "type": "main", "index": 0 },
        { "node": "JTBC",        "type": "main", "index": 0 },
        { "node": "한국경제 전체", "type": "main", "index": 0 },
        { "node": "서울경제 전체", "type": "main", "index": 0 }
      ]]
    },
    "연합뉴스TV":   { "main": [[{ "node": "Merge 1", "type": "main", "index": 0 }]] },
    "한겨레":       { "main": [[{ "node": "Merge 1", "type": "main", "index": 1 }]] },
    "Merge 1":     { "main": [[{ "node": "Merge 2", "type": "main", "index": 0 }]] },
    "경향신문":     { "main": [[{ "node": "Merge 2", "type": "main", "index": 1 }]] },
    "Merge 2":     { "main": [[{ "node": "Merge 3", "type": "main", "index": 0 }]] },
    "JTBC":        { "main": [[{ "node": "Merge 3", "type": "main", "index": 1 }]] },
    "Merge 3":     { "main": [[{ "node": "Merge 4", "type": "main", "index": 0 }]] },
    "한국경제 전체": { "main": [[{ "node": "Merge 4", "type": "main", "index": 1 }]] },
    "Merge 4":     { "main": [[{ "node": "Merge 5", "type": "main", "index": 0 }]] },
    "서울경제 전체": { "main": [[{ "node": "Merge 5", "type": "main", "index": 1 }]] },
    "Merge 5":              { "main": [[{ "node": "제목 취합",           "type": "main", "index": 0 }]] },
    "제목 취합":             { "main": [[{ "node": "프롬프트 생성",        "type": "main", "index": 0 }]] },
    "프롬프트 생성":          { "main": [[{ "node": "Gemini API",          "type": "main", "index": 0 }]] },
    "Gemini API":           { "main": [[{ "node": "준비",                 "type": "main", "index": 0 }]] },
    "준비":                 { "main": [[{ "node": "dates UPSERT",         "type": "main", "index": 0 }]] },
    "dates UPSERT":         { "main": [[{ "node": "topics 생성 준비",     "type": "main", "index": 0 }]] },
    "topics 생성 준비":      { "main": [[{ "node": "Supabase topics 저장", "type": "main", "index": 0 }]] },
    "Supabase topics 저장": { "main": [[{ "node": "응답 정리",            "type": "main", "index": 0 }]] },
    "응답 정리":             { "main": [[{ "node": "Loop Over Items",      "type": "main", "index": 0 }]] },
    "Loop Over Items": {
      "main": [
        [{ "node": "Naver 뉴스 검색", "type": "main", "index": 0 }],
        []
      ]
    },
    "Naver 뉴스 검색":  { "main": [[{ "node": "링크 추출",        "type": "main", "index": 0 }]] },
    "링크 추출":        { "main": [[{ "node": "기사 스크레이핑",   "type": "main", "index": 0 }]] },
    "기사 스크레이핑":  { "main": [[{ "node": "본문 추출",         "type": "main", "index": 0 }]] },
    "본문 추출":        { "main": [[{ "node": "articles UPSERT",  "type": "main", "index": 0 }]] },
    "articles UPSERT": { "main": [[{ "node": "본문 취합",          "type": "main", "index": 0 }]] },
    "본문 취합":        { "main": [[{ "node": "요약 프롬프트 생성", "type": "main", "index": 0 }]] },
    "요약 프롬프트 생성": { "main": [[{ "node": "Gemini 요약 API",  "type": "main", "index": 0 }]] },
    "Gemini 요약 API":  { "main": [[{ "node": "요약 파싱",          "type": "main", "index": 0 }]] },
    "요약 파싱":        { "main": [[{ "node": "summaries UPSERT",   "type": "main", "index": 0 }]] },
    "summaries UPSERT": { "main": [[{ "node": "5초 대기",           "type": "main", "index": 0 }]] },
    "5초 대기":         { "main": [[{ "node": "Loop Over Items",     "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {}
}
